.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.icon-company__link {
  transition: color 250ms var(--cubic-bezier),
    border-color 250ms var(--cubic-bezier);
  display: flex;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  color: var(--icon-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.icon-company__icon {
  fill: currentColor;
}

.icon-company {
  display: flex;

  margin-left: -30px;
  margin-top: -30px;
}
.icon-company__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  height: 90px;
}

@media screen and (max-width: 779px) {
  .icon-company {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-company__item {
    flex-basis: calc(100% / 3 - 30px);
  }
  .icon-company {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .icon-company {
    display: flex;
    justify-content: space-between;
  }
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
