.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
.features__conteiner {
  display: flex;
  background-color: var(--light-background);
  border-radius: 4px;

  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features__list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.features__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .features__list {
    display: block;
  }
  .features__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .features__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
