// .conteiner-header {
//   margin: 0 auto;
//   width: 1200px;
//   padding-left: 15px;
//   padding-right: 15px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
.conteiner-header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.logo__text {
  color: var(--accent-color);
}

.nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--second-font);
  color: var(--black-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
}
.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}
.contact-information__text {
  color: var(--accent-color);
}
.nav__link {
  transition: color 250ms var(--cubic-bezier);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  display: block;
  color: var(--accent-color);
  position: relative;
  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -1px;
  }
}

.contacts__list {
  transition: color 250ms var(--cubic-bezier);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 30px;
  padding-bottom: 30px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contacts__icon {
  margin-right: 10px;
}
.contacts__icon-close {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
  .nav__link {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .header {
    padding: 15px 0;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .nav {
    display: block;
  }
  .menu-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .menu-contacts__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .menu-social {
    display: flex;
  }

  .menu-social__link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  .menu-social__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .menu-social__item:not(:first-child) {
    padding-left: 10px;
  }

  .conteiner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contacts__icon {
    margin: 0;
    fill: currentColor;
  }
  .menu__conteiner-header {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .menu__conteiner-header.is-open {
    z-index: 5;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .contacts__button,
  .contacts__button-close {
    width: 40px;
    height: 40px;
    transition: color 250ms var(--cubic-bezier);
    background-color: transparent;
    border: none;
    padding: 0;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .menu__conteiner-header {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;

    height: 100vh;
    padding: 48px 40px;
    background-color: var(--primary-color);
    transform: translatex(100%);
    transition: transform 250ms linear;
  }
  .is-open {
    transform: translateY(0) translateX(-50%);
  }
  .contacts__button-close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .current::after {
    display: none;
  }
  .header-menu__mobile {
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 479px) {
  .menu-social__link {
    font-size: 4vw;
  }
  .menu-contacts__link {
    font-size: 7vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__conteiner-header {
    display: none;
  }
  .contacts__button {
    display: none;
  }
  .contacts__button {
    display: none;
  }
  .header-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .conteiner-header {
    border-bottom: 1px solid var(--header-border);
    margin: 0 auto;

    display: flex;
    align-items: center;
  }

  .contacts__list {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    margin: 0;
  }

  .logo {
    margin-right: 88px;
    font-size: 24px;
    line-height: 1.37;
  }
}

@media screen and (min-width: 1200px) {
  .menu__conteiner-header {
    display: none;
  }
  .contacts__button {
    display: none;
  }
  .contacts__button {
    display: none;
  }
  .header-menu {
    display: flex;
    align-items: center;
  }
  .conteiner-header {
    border-bottom: 1px solid var(--header-border);
    display: flex;
    align-items: center;
  }
  .contacts {
    display: flex;
  }
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.38;
  }
  .header-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}
