:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-color: #fff;
  --light-background: #f5f4fa;
  --dark-background: #2f303a;
  --black-color: #000;
  --background-hover: #188ce8;
  --header-border: #ececec;
  --portfolio-border: #eeeeee;
  --icon-color: #afb1b8;
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
